<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>璨然 | 关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mStyle.css">
</head>
<body>

    <!-- 导航栏 -->
    <nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">璨然</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="搜索你感兴趣的内容...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- 中间内容 -->
    <div class="m-padding-tb-large m-container">
        <div class="ui container">
            <div class="ui stackable grid">
               <div class="eleven wide column">
                   <div class="ui segment">
                       <img src="https://unsplash.it/800/600?image=248" alt="" class="ui rounded image">
                   </div>
               </div>
               <div class="five wide column">
                   <div class="ui top attached segment">
                       <h3 class="ui header">关于我</h3>
                   </div>
                   <div class="ui attached segment">
                       <p class="m-text">刘丰璨，广东工业大学学生，涉猎 Java 后台开发和数据科学的小年轻。希望可以结识共同成长的小伙伴。</p>
                       <p class="m-text">使用过的语言：Java, Python, C, C++, C#, JS, SQL ...</p>
                   </div>
                   <div class="ui attached segment">
                       <div class="ui basic orange label">编程</div>
                       <div class="ui basic orange label">运动</div>
                       <div class="ui basic orange label">金融</div>
                       <div class="ui basic orange label">算法</div>
                   </div>
                   <div class="ui attached segment">
                       <div class="ui basic teal label m-margin-tb-tiny">Java</div>
                       <div class="ui basic teal label m-margin-tb-tiny">Python</div>
                       <div class="ui basic teal label m-margin-tb-tiny">C</div>
                       <div class="ui basic teal label m-margin-tb-tiny">C++</div>
                       <div class="ui basic teal label m-margin-tb-tiny">C#</div>
                       <div class="ui basic teal label m-margin-tb-tiny">JavaScript</div>
                       <div class="ui basic teal label m-margin-tb-tiny">SQL</div>
                   </div>
                   <div class="ui bottom attached segment">
                       <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                       <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                       <a href="#" class="ui qq circular icon button" data-content="1211272567" data-position="bottom center"><i class="qq icon"></i></a>
                   </div>
                   <div class="ui wechatQR flowing popup transition hidden">
                       <img src="../static/img/wechat.jpg" alt="" class="ui rounded image" style="width: 120px">
                   </div>
               </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <!-- 底部footer -->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/img/wechat.jpg" class="ui rounded image" alt="微信名片" style="width:110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="five wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系方式</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: edwardliu.aurora@gmail.com</a>
                        <a href="#" class="item">Github: https://github.com/EdwardLiu-Aurora</a>
                        <a href="#" class="item">QQ: 1211272567</a>
                    </div>
                </div>
                <div class="five wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">博客介绍</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，会分享关于我在编程、生活、思考方面的内容，希望能给来到这的人一点帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2018-2019 FengCan Liu Designed by FengCan Liu</p>
        </div>
    </footer>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.wechat').popup({
            popup:$('.wechatQR'),
            position: 'bottom center'
        });
        $('.qq').popup();
    </script>

</body>
</html>